<div class="container quote-list-container mt-3">
  <h2 class="text-center mb-4">Quote List</h2>

  <button class="btn btn-success mb-4" (click)="navigateToAddQuote()">Lägg till nytt citat</button>

  <ul class="list-group mb-4">
    <li *ngFor="let quote of quotes" class="list-group-item d-flex flex-column align-items-start">
      <blockquote class="blockquote mb-0">
        <p class="quote-text">“{{ quote.text }}”</p>
        <footer class="blockquote-footer quote-author">{{ quote.author }}</footer>
      </blockquote>
      <div class="quote-buttons mt-2">
        <button class="btn btn-primary btn-sm redigera-btn" (click)="quote.id !== undefined && editQuote(quote.id)">Redigera</button>
        <button class="btn btn-danger btn-sm radera-btn" (click)="deleteQuote(quote.id)">Radera</button>
      </div>
    </li>
  </ul>
</div>
